<header class="masthead header-image">
  <div class="container">
      <div class="intro-text">

          <div class="intro-heading text-uppercase"><span>Coupon Express</span></div>
          <div class="intro-lead-in"><span>Have a DEAL on your mind let's make it true!</span></div><br><br><br>
          <a class="btn btn-warning p-3 pulse animated infinite btn-xl text-uppercase header-button" role="button"  data-bs-toggle="modal" data-bs-target="#exampleModal1" style="background-color: #425664;">Register</a>
        </div>
  </div>
</header>
<section id="services">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="text-uppercase section-heading" style="color: #425664" >Services</h2>
              <h3 class="text-muted section-subheading" style="color: #425664">We offer</h3>
          </div>
      </div>
      <div class="row text-center">
          <div class="col-md-4" data-bss-hover-animate="pulse"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-certificate fa-stack-1x fa-inverse"></i></span>
              <h4 class="section-heading">Best Deals</h4>
              <p class="text-muted">Tired of searching for low-cost coupon deals? <br>chill we're here to help you up!<br><br></p>
          </div>
          <div class="col-md-4" data-bss-hover-animate="pulse"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-eercast fa-stack-1x fa-inverse"></i></span>
              <h4 class="section-heading">Free Coupons<br></h4>
              <p class="text-muted">Don’t pay attention to those who offer too much.</p>
          </div>
          <div class="col-md-4" data-bss-hover-animate="pulse"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-gittip fa-stack-1x fa-inverse"></i></span>
              <h4 class="section-heading">Good Reviews</h4>
              <p class="text-muted">“Feedback is a gift. Ideas are the currency of our next success. Let<br>people see you value both feedback and ideas.”</p>
          </div>
      </div>
  </div>
</section>
<section class="bg-light" id="portfolio" style="padding: 96px 0px;">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" style="color: #425664;">Sponsors</h2>
              <h3 class="text-muted section-subheading"></h3>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal1" data-bs-toggle="modal">
                  <div class="portfolio-hover">
                      <div class="portfolio-hover-content">Amazon</div>
                  </div><img class="img-fluid" src="https://wallpapercave.com/wp/wp7771157.jpg">
              </a>

          </div>
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal2" data-bs-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">Flipkart</div>
                  </div><img class="img-fluid" src="https://www.freepnglogos.com/uploads/flipkart-logo-png/flipkart-logo-transparent-vector-3.png">
              </a>

          </div>
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal3" data-bs-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">Myntra</div>
                  </div><img class="img-fluid" src="https://cdn.freelogovectors.net/svg08/myntra-logo-freelogovectors.net.svg">
              </a>

          </div>
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal4" data-bs-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">Ajio</div>
                  </div><img class="img-fluid" src="https://1000logos.net/wp-content/uploads/2020/07/Ajio-Logo1-640x360.jpg">
              </a>

          </div>
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal5" data-bs-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">Zomato</div>
                  </div><img class="img-fluid" src="https://cdn.ndtv.com/tech/images/zomato_spoon_logo.jpg" style="padding: 30px;">
              </a>

          </div>
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal6" data-bs-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">Swiggy</div>
                  </div><img class="img-fluid" src="https://cdn.kalingatv.com/wp-content/uploads/2019/11/maxresdefault-3.jpg">
              </a>

          </div>
      </div>
  </div>
</section>
<section id="about" style="margin-bottom: -146px;">
  <header class="masthead" style="background: url(&quot;./assets/img/about-bg.jpg&quot;);margin: 0px 0px 50px;">
      <div class="overlay"></div>
      <div class="container" data-bss-hover-animate="bounce" style="height: 300.149px;margin-bottom: -42px;">
          <div class="row" style="margin: -134px;">
              <div class="col-md-10 col-lg-8 mx-auto position-relative" style="margin-bottom: 50px;margin-top: 0px;">
                  <div class="site-heading" style="margin-top: 135px;">
                      <h1 data-bss-hover-animate="pulse" style="color: #425664;font-size: 50px;">About Me</h1>
                  </div>
              </div>
          </div>
      </div>
  </header>
</section>
<section class="bg-light" id="team">
  <div class="container">
      <div class="row">
          <div class="col">
              <div class="team-member">
                  <h4>Ayushman Manna</h4>
                  <p class="text-muted ">Web Developer</p>
                  <p class="text-muted">Exploring ways to enhance my  knowledge gained at Capgemini during 2 months training.
                    Waiting for a starting opportunity to utilise my skills and take the organisation forward.<br></p>
                  <!--<ul class="list-inline social-buttons">
                      <li class="list-inline-item"><a data-bss-hover-animate="bounce" href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a data-bss-hover-animate="pulse" href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a data-bss-hover-animate="pulse" href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>-->
              </div>
          </div>
      </div>
  </div>
</section>



<!--<section id="contact" style="background-image: url('assets/img/map-image.png');margin-top: -100px;">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="text-uppercase section-heading">Contact ME</h2>
              <h3 class="text-muted section-subheading">Feel Free To Contact Me</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <form id="contactForm" name="contactForm" novalidate="novalidate" data-bss-recipient="8b73544894516b1a783ac556a2f3db1e" data-bss-subject="Daily Deals - Contact Form">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group mb-3"><input class="form-control" type="text" id="name" placeholder="Your Name *" required=""><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                          <div class="form-group mb-3"><input class="form-control" type="email" id="email" placeholder="Your Email *" required=""><small class="form-text text-danger help-block lead"></small></div>
                          <div class="form-group mb-3"><input class="form-control" type="tel" placeholder="Your Phone *" required=""><small class="form-text text-danger help-block lead"></small></div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group mb-3"><textarea class="form-control" id="message" placeholder="Your Message *" required=""></textarea><small class="form-text text-danger help-block lead"></small></div>
                      </div>
                      <div class="w-100"></div>
                      <div class="col-lg-12 text-center">
                          <div id="success"></div><button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Send Message</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>-->






